/* CSS for WebAssembly build of XRoar. */

/* Because styling inputs is hard for reasons I don't understand, file inputs
 * are surrounded by a label (with class button, see below), and the actual
 * input itself is hidden. */

input[type="file"] { display: none; }

/* Trivial multi-column. */

.column { float: left; }
.breakfloat { clear: both; height: 0; }

/* Make buttons look a bit more like Firefox's default drop-downs. */

.button,select {
	display: inline-block;
	padding: 4px 10px;
	border-radius: 3px;
	border: 1px solid #aaaaaa;
	background-color: #eeeeee;
	cursor: pointer;
	font: caption;
	font-size: 0.8rem;
	margin-top: 1px;
	margin-bottom: 1px;
}
.button:hover,select:hover { background-color: #ffffff; }

/* Miscallaneous */

.filename {
	font-family: monospace;
}

table.centre-vertically th,td {
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: middle;
}

/* Tables with headers on the left */

table.vheader th {
	font-weight: normal;
	text-align: right;
	white-space: nowrap;
}

/* Tabs.
 *
 * https://simonsc.medium.com/tabs-with-css-and-no-javascript-d829018e219a
 */

.tabs-container {
	display: flex;
	flex-wrap: wrap;
}

.tabs-container > h3,p,table {
	margin-top: 15px;
}

.tabs-container > input[type=radio] {
	display: none;
}

.tabs-container > input[type=radio]:checked + .tab-label {
	border: 2px solid black;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
}

.tabs-container > input[type=radio]:not(:checked) + .tab-label + .tab-content {
	display: none;
}

.tabs-container .tab-label {
	padding: 5px 5px;
	border-top: 2px solid black;
	border: 2px solid grey;
}

.tabs-container .tab-content {
	order: 99;
	width: 100%;
	display: block;
}
